* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "sans-serif";
}

/*ヘッダー関連*/
li {
    list-style: none;
    color: white;
}

.header {
    background-color: #990000;
    color: #fff;
    height: 90px;
    border-bottom: double;
}

.header-logo {
    float: left;
}

.header-list li {
    float: left;
    padding: 33px 20px;
    font-size: 130%;
}

/*ホバーカラー*/
a:hover {
    color: cornflowerblue;
}

a {
    transition: color 0.6s;
    text-decoration: none;
    color: wheat;
}
