/*------------------------------------------------最新情報------------------------------------------------*/
h1 {
    font-size: 500%;
    text-align: left;
    color: #4B4B4B;
	font-family: serif;
    text-shadow: 1.5px 1.5px 1.5px rgba(73, 73, 73, 0.5);
    border-bottom: double 3px rgba(73, 73, 73, 0.5);
    margin: 0px 0px 20px 0px;
}

p {
    float: left;
}

section {
    margin: 0px 90px;
}

.news-list {
   height: 17em;
   color: rgba(7, 7, 7, 0.5);
}

.news-list img {
  transition-duration: 0.5s;
  box-shadow: 2px 2px 2px rgba(73, 73, 73, 0.5);
  border: 1px solid #003674;
}

.news-list a:hover img {
    transform: scale(1.05);
    transition-duration: 0.7s;
}

.ne_number {
    margin: 0px 0px 0px 320px;
    font-size: 130%;
}

.ne_title {
    margin: 30px 0px 0px 320px;
    font-size: x-large;
}

.ne_title a {
    color: rgb(85, 85, 85);
    text-shadow: 0px 1px 1px rgba(73, 73, 73, 0.5);
}

.ne_title a:hover {
    color: rgb(124, 73, 190);
}

/*------------------------------------------------長官定例会見ボタン------------------------------------------------*/
.chookan-report_button {
    color: #fff;
    line-height: 1.1;
    background-color: #014e7a;
    border: 1px solid #014e7a;
    margin: 5px 0px 5px 20px;
    text-align: center;
    border-radius: 3rem;
}

.chookan-report_button:hover {
    color: #fff;
    background-color: #003452;
    border: 1px solid #003452;
}

/*------------------------------------------------首相活動ボタン------------------------------------------------*/
.shusho-report_button {
    color: #fff;
    line-height: 1.1;
    background-color: #935300;
    border: 1px solid #935300;
    margin: 5px 0px 5px 20px;
    text-align: center;
    border-radius: 3rem;
}

.shusho-report_button:hover {
    color: #fff;
    background-color: #923900;
    border: 1px solid #923900;
}