* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "sans-serif";
}

li {
    list-style: none;
}

.header {
    background-color: #990000;
    color: #fff;
    height: 90px;
    border-bottom: double;
}

.header-logo {
    float: left;
}

.header-list li {
    float: left;
    padding: 33px 20px;
}
