* {
    margin: 0px;
    padding: 0px;
}

:root {
    font-size: 15px
}

body {
    font-family: "sans-serif";
    background-color:#e0e0e0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header li {
    color: white;
}

header {
    background-color: #990000;
    color: #fff;
    height: 90px;
    border-bottom: double;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.header-logo {
    float: left;
    padding: 10px;
}

.header-list li {
    float: left;
    padding: 29px 20px;
    font-size: 130%;
}

/*------------------------------------------------ヘッダー------------------------------------------------*/
header li a{
	display: inline-block;
	position: relative;
	color: rgb(255, 251, 196);
}

ul li a:before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 100%;
	height: 3px;
	background: rgb(0, 14, 136);
	transform: scale(0, 1);
	transition: 0.6s;
}

ul li a:hover:before {
	transform: scale(1);
}

ul li a:hover {
    color: rgb(65, 134, 225);
    transition: 0.6s;
}

/*------------------------------------------------スクロールボタン------------------------------------------------*/
#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #000c75;
    opacity: 0.6;
    border-radius: 50%;
    margin: 20px;
    border: solid;
    border-color: slategray;
    border-radius: 15px;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }

/*------------------------------------------------フッター------------------------------------------------*/

footer {
    background-color: #2f5167;
    color: #fff;
    height: 400px;
    margin: 50px 0px 0px 0px;
    padding: 50px 90px;
}

footer div {
    display: inline-block;
}

.link_box {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.box_name {
    margin: 0px 0px 30px 0px;
    padding: 5px 57.5px;
    font-size: 20px;
    border: solid;
    border-color: slategray;
    border-radius: 2px;
}

.box_name2 {
    margin: 0px 0px 30px 0px;
    padding: 5px 39px;
    font-size: 20px;
    border: solid;
    border-color: slategray;
    border-radius: 2px;
}

.footer_box {
    margin: 0px 40px 0px 0px;
    font-family: 'MS Sans Serif','游ゴシック';
    font-weight: bold;
    width: 203px;
}

.footer_box li {
    width: 200px;
    height: 40px;
    margin: 0px 0px 40px 0px;
}

footer a {
    color: seashell;
    font-size: 15px;
}

.twitter:hover {
    color: #1DA1F2;
    transition: 0.2s;
}

.instagram:hover {
    color: #CF2E92;
    transition: 0.2s;
}

.line:hover {
    color: #00B900;
    transition: 0.2s;
}

.snsimg {
    width: 30;
    height: 25;
}

footer address {
    font-style: normal;
    text-align: center;
}

.footer_address {
    font-style: italic;
    font-size: 1.2rem;
    text-align: center;
}